@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.note-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
}

.note-title {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  position: sticky;
  bottom: 76%;
  left: 43%;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #0080FF;
}